In [158]:
import pandas as pd
df1 = pd.read_csv('StreamingHistory0.csv')
df2 = pd.read_csv('StreamingHistory1.csv')

df = pd.concat([df1, df2])
df.head()

            endTime            artistName       trackName  msPlayed
0  2021-03-15 22:12                  Korn           Blind    171780
1  2021-03-16 16:02                  Korn           Blind      8500
2  2021-03-16 16:09              Vulfpeck       Dean Town     70270
3  2021-03-16 16:12  The Greyboy Allstars  V Neck Sweater    155280
4  2021-03-16 16:12              Vulfpeck       Cory Wong       830

In [159]:
#Divido la columna endTime en columnas relevantes, tambien pasando de milisegundos de la columna msPlayed a segundos y minutos
df['year'] = df['endTime'].str.split('-').str[0]
df['month'] = df['endTime'].str.split('-').str[1]
df['seconds_played'] = df['msPlayed']/1000
df['minutes_played'] = df['seconds_played']/60

df.drop('msPlayed', inplace=True, axis=1)
df.head()

,endTime,artistName,trackName,year,month,seconds_played,minutes_played
0,2021-03-15 22:12,Korn,Blind,2021,03,171.78,2.863000
1,2021-03-16 16:02,Korn,Blind,2021,03,8.50,0.141667
2,2021-03-16 16:09,Vulfpeck,Dean Town,2021,03,70.27,1.171167
3,2021-03-16 16:12,The Greyboy Allstars,V Neck Sweater,2021,03,155.28,2.588000
4,2021-03-16 16:12,Vulfpeck,Cory Wong,2021,03,0.83,0.013833

In [160]:
# Paso las horas a tiempo Bonaerense
df['endTime'] = pd.to_datetime(df['endTime']).dt.tz_localize('UTC')
df['endTime'] = df['endTime'].dt.tz_convert('America/Argentina/Buenos_Aires')
df.head()

,endTime,artistName,trackName,year,month,seconds_played,minutes_played
0,2021-03-15 19:12:00-03:00,Korn,Blind,2021,03,171.78,2.863000
1,2021-03-16 13:02:00-03:00,Korn,Blind,2021,03,8.50,0.141667
2,2021-03-16 13:09:00-03:00,Vulfpeck,Dean Town,2021,03,70.27,1.171167
3,2021-03-16 13:12:00-03:00,The Greyboy Allstars,V Neck Sweater,2021,03,155.28,2.588000
4,2021-03-16 13:12:00-03:00,Vulfpeck,Cory Wong,2021,03,0.83,0.013833

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12679 entries, 0 to 2678
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   endTime         12679 non-null  datetime64[ns, America/Argentina/Buenos_Aires]
 1   artistName      12679 non-null  object
 2   trackName       12679 non-null  object
 3   year            12679 non-null  object
 4   month           12679 non-null  object
 5   seconds_played  12679 non-null  float64
 6   minutes_played  12679 non-null  float64
dtypes: datetime64[ns, America/Argentina/Buenos_Aires](1), float64(2), object(4)
memory usage: 792.4+ KB

In [162]:
#Convierto los tipos de datos
df['artistName'] = df['artistName'].astype(str)
df['trackName'] = df['trackName'].astype(str)
df['year'] = df['year'].astype(int)
df['month'] = df['month'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12679 entries, 0 to 2678
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   endTime         12679 non-null  datetime64[ns, America/Argentina/Buenos_Aires]
 1   artistName      12679 non-null  object
 2   trackName       12679 non-null  object
 3   year            12679 non-null  int32
 4   month           12679 non-null  int32
 5   seconds_played  12679 non-null  float64
 6   minutes_played  12679 non-null  float64
dtypes: datetime64[ns, America/Argentina/Buenos_Aires](1), float64(2), int32(2), object(2)
memory usage: 693.4+ KB

In [163]:
#Filtro las canciones que se escucharon por menos de medio minuto ya que no son representativos
indexes = df[df['minutes_played'] < 0.5].index
df.drop(index=indexes, inplace=True, axis=0)
df.describe()

              year        month  seconds_played  minutes_played
count  5102.000000  5102.000000     5102.000000     5102.000000
mean   2021.088005     6.993728      216.217249        3.603621
std       0.283330     2.803567      113.512343        1.891872
min    2021.000000     1.000000       30.000000        0.500000
25%    2021.000000     5.000000      142.207500        2.370125
50%    2021.000000     7.000000      215.110000        3.585167
75%    2021.000000     9.000000      276.280000        4.604667
max    2022.000000    12.000000      815.080000       13.584667

In [164]:
#Export a un nuevo dataset para mandar a Tableau
df.to_csv('spotify_data_4tableau.csv')